<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <div id="background">
        <img src="/Dots.png" class="dots">
        <img src="/User 2.png" class="person">
        <img src="/User 1.png" class="person1">
        <img src="/User 3.png" class="person2">
        <img src="/User 4.png" class="person3">
        <img src="/Half Circle 1.png" class="circle1">
        <img src="/Half Circle 2.png" class="circle2">
        <img src="/Half Circle 3.png" class="circle3">
    </div>


    <section class=" navigation ">
        <div class="nav-container ">
            <!-- <div class="brand ">
            <a href="#! ">LOGO</a>
        </div> -->
            <!-- <nav>
                <div class="nav-mobile ">
                    <a id="nav-toggle " href="#! "><span></span></a>
                </div>
                <ul class="nav-list ">
                    
                    <li><a href="/"><b>Home</b></a></li>
                    
                    <li><a href="#"><b>About Us</b></a></li>
                    <li><a href="/contact-us"><b>Contact Us</b></a></li>
                </ul>
            </nav> -->
            <nav>

                <a href="/"><b>Home</b></a>
                    <a href="#"><b>About Us</b></a>
                    <a href="/contact-us"><b>Contact Us</b></a>
            </nav>
        </div>
    </section>
    <!-- <div class="bg_image "> -->
    <!-- <img src="Black_BG.png "> </div> -->
    <div class=" Info ">
        <h1>
            About Us
        </h1>
            <p style="font-size: 26px;">
                As students we need a lot of tools to work. Most of them aren't <br> used again after the semester ends .Thapar E-mart
              provides you <br> with the platform to buy and sell such products .You can list the <br> items you want to sell, The buyer 
              will come across your listing and <br> will contact you by the phone number provided by you. Then you <br> can arrange a meeting
	      with the buyer and work things out. Their<br> will be no third party involvement in the payment or the <br> conversation. This will 
              help solve the problem of discarding <br> equipments which will never be used eg a drafter, your notes, <br> old laptops, wrong bought items etc. 
            </p>
        
    </div>
    </p>

    <script src="/about.js "></script>
</body>

</html>