<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/contact.css">
</head>
<body>
 
         <nav>

            <a href="/"><b>Home</b></a>
                <a href="/about-us"><b>About Us</b></a>
                <a href="#"><b>Contact Us</b></a>
        </nav>
            <div class="mcontent">
                <h1>Contact Us</h1>
                <p>If you have any doubts, face any issues while using the website, find bugs. Drop a mail <a href="mailto:thesocialtrail@gmail.com" >Here</a></p>
            </div> 
</body>
</html>
