<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thapar E-Mart</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <header>
            <div class="normal">
                <a href="#"><h5>Home</h5></a>
                <a href="/about-us"><h5>About Us</h5></a>
                <a href="/contact-us"><h5>Contact Us</h5></a>
                
            </div>
        </header>
        <div class="main">
        </div>
        <div class="icon">
            <img src="/icon.png" alt="">
        </div>
        <div class="content">
            <h1>Thapar E-Mart</h1>
            <p>A place where buyer meets seller</p>
            <button><a href="/users/login">Get Started</a></button>
        </div>
        
</body>
</html>