<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css"> </head>

<body>
    <div class="header">Profile </div>
    <div> <img src="/Userpic.png" class="person">
    </div>
    <div>
        <img src="/Purple Circle.png" class="top_right">
        <div class="centered"><button onclick="window.location.href='/users/logout'" type="button" class="logout">Log Out</button></div>
    </div>
    <div class="info">
        <h4>
            Name
        </h4>
        <textarea>
            </textarea>
        <h4>Email</h4>
        <textarea>
            </textarea>
    </div>
    <div class="details">
        <h4>PhoneNo</h4>
        <textarea>
                </textarea>
        <h4>
            Address
        </h4><textarea>
                </textarea>

    </div>
    <div class="press">
        <button id="clik">
            
<h3>Items</h3>
            <!-- <img src="Button.png"> -->
            </button>
    </div>
    <hr margin>
    <div>
        <img src="/Bitmap.png" class="item"> </div>
</body>

</html>